@page "/Aportes/Delete/{AporteId:int}"
@inject AportesService aportesService;
@rendermode InteractiveServer
@inject NavigationManager navigation;

<PageTitle>Eliminar Aporte</PageTitle> 
<EditForm Model="AporteSeleccionado" OnValidSubmit="ConfirmarEliminacion">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="card shadow-lg">
            <!-- Encabezado -->
            <div class="card-header bg-danger text-white">
                <h4 class="bi bi-trash"> Eliminar Aporte</h4>
            </div>

            <div class="card-body">
                <article class="contenido">
                    <p class="texto-destacado">¿Deseas proceder con la eliminaci&oacute; de este Aporte?</p>
                    <div class="detalle">
                        <span><strong>ID: </strong>@AporteSeleccionado.AporteId</span>
                    </div>
                    <div class="detalle">
                        <span><strong>Persona: </strong>@AporteSeleccionado.Personas</span>
                    </div>
                    <div class="detalle">
                        <span><strong>Observacion: </strong>@AporteSeleccionado.Observacion</span>
                    </div>
                    <div class="detalle">
                        <span><strong>Monto: </strong>@AporteSeleccionado.Monto</span>
                    </div>
                </article>
                <!-- Pie -->
                <footer class="pie text-center">
                    <a href="/Aportes/Index" class="btn btn-info bi bi-arrow-left"> Regresar</a>
                    <button type="button" class="btn btn-danger  bi bi-trash" @onclick="ConfirmarEliminacion">Eliminar</button>
                </footer>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int AporteId { get; set; }
    public Aportes AporteSeleccionado { get; set; } = new Aportes();

    protected override async Task OnInitializedAsync()
    {
        if (AporteId > 0)
        {
            AporteSeleccionado = await aportesService.Buscar(AporteId);
        }
    }

    public async Task ConfirmarEliminacion()
    {
        if (AporteSeleccionado != null)
        {
            var resultado = await aportesService.Eliminar(AporteId);
            if (resultado)
            {
                navigation.NavigateTo("/Aportes/Index");
            }

        }
    }
}
